$teal: #008080;
$blue: #397fef;
$light-gray: #f2f2f2;
$dark-gray: #2f2f2f;
$white: #fff;
$red: #ff6347;

$headline-1: 4.6rem;
$paragraph: 1.8rem;
$md-size: 1.2rem;
$sm-size: 1rem;

$mobile-headline1: 3.6rem;
